html {
    scroll-behavior: smooth;
  }
  
  @media only screen and (max-width: 510px) {
    #desktop {
      display: none;
    }
  
    #tablet {
      display: none;
    }

    #desktop-big {
      display: none;
    }

    #desktop-small {
      display: none;
    }
  
    .cardIntroduction {
      grid-row: span 4 / auto;
      grid-column: span 2 / auto;
    }
  
    .cardInfo {
      grid-row: span 7 / auto;
      grid-column: span 2 / auto;
    }
  
    .cardFooter {
      grid-row: span 1 / auto;
      grid-column: span 2 / auto;
    }
  }
  


  
  @media only screen and (max-width: 1100px) and (min-width: 511px) {
    #desktop {
      display: none;
    }
  
    #mobile {
      display: none;
    }

    #desktop-big {
      display: none;
    }

    #desktop-small {
      display: none;
    }
  
  
    .cardIntroduction {
      grid-row: span 4 / auto;
      grid-column: span 2 / auto;
    }
  
    .cardInfo {
      grid-row: span 6 / auto;
      grid-column: span 2 / auto;
    }
  
    .cardFooter {
      grid-row: span 1 / auto;
      grid-column: span 2 / auto;
    }
  }


  @media only screen and (max-width: 1550px) and (min-width: 1101px) {
    #desktop {
      display: none;
    }
  
    #mobile {
      display: none;
    }

    #desktop-big {
      display: none;
    }


    #tablet {
      display: none;
    }
  
  
    .cardIntroduction {
      grid-row: span 3 / auto;
      grid-column: span 2 / auto;
    }
  
    .cardInfo {
      grid-row: span 5 / auto;
      grid-column: span 2 / auto;
    }
  
    .cardFooter {
      grid-row: span 1 / auto;
      grid-column: span 2 / auto;
    }
  }
  
  


  @media only screen and (max-width: 2000px) and (min-width: 1551px) { 
    #mobile {
      display: none;
    }
  
    #tablet {
      display: none;
    }

    #desktop-big {
      display: none;
    }

    #desktop-small {
      display: none;
    }
  
    .cardIntroduction {
      grid-row: span 5 / auto;
      grid-column: span 4 / auto;
    }
  
    .cardFooter {
      grid-row: span 1 / auto;
      grid-column: span 4 / auto;
    }
  
    .cardInfo {
      grid-row: span 6 / auto;
      grid-column: span 4 / auto;
    }
  }



  @media only screen and (min-width: 2001px) { 
    #mobile {
      display: none;
    }
  
    #tablet {
      display: none;
    }

    #desktop {
      display: none;
    }

    #desktop-small {
      display: none;
    }
  
    .cardIntroduction {
      grid-row: span 7 / auto;
      grid-column: span 4 / auto;
    }
  
    .cardFooter {
      grid-row: span 1 / auto;
      grid-column: span 4 / auto;
    }
  
    .cardInfo {
      grid-row: span 8 / auto;
      grid-column: span 4 / auto;
    }
  }